body {
  background-color: rgb(31, 31, 49);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.nav-bar {
  display: flex;
  background-color: rgb(31, 31, 49);
  justify-content: space-between;
  /* position: fixed; */
  position: sticky;
  box-shadow: rgb(46, 46, 66) 5px 5px 50px;
  top: 0vh;
}

.right-side-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-image img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

span {
  color: rgb(233, 230, 230);
  display: block;
  margin-left: 5px;
  margin-top: -5px;
}

.favourites p {
  margin: 10px 30px;
  color: rgb(233, 230, 230);
}

.left-side-wrapper {
  display: flex;
  /* justify-content: space-evenly; */
}

.search-box-container {
  display: flex;
  background-color: rgb(7, 7, 53);
  flex-direction: row;
  width: 200px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.search-icon img {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}

.search-text {
  color: rgb(185, 181, 181);
  margin-left: -40%;
}
.mic img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.notification img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  align-content: center;
  margin-top: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.music-box {
  display: flex;
}

.music-main {
  display: flex;
  width: 70%;
  margin-left: 20px;
  flex-direction: column;
}

.artist-container {
  display: flex;
  margin: 20px;
  opacity: 5px;
}
.artist-1 {
  background-image: url(./assets/img/artist/img1.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: 0.5s;
}

.artist-1:hover {
  transform: scale(1.2);
  max-width: 250px;
  max-height: 250px;
}

.artist-2 {
  background-image: url(./assets/img/artist/img4.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: 0.5s;
}

.artist-2:hover {
  transform: scale(1.2);
  max-width: 220px;
  max-height: 220px;
}

.artist-3 {
  background-image: url(./assets/img/artist/img3.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: 0.5s;
}

.artist-3:hover {
  transform: scale(1.2);
  max-width: 220px;
  max-height: 220px;
}

.artist-4 {
  background-image: url(./assets/img/artist/img6.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: 0.5s;
}

.artist-4:hover {
  transform: scale(1.2);
  max-width: 220px;
  max-height: 220px;
}

.latest-title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 10px;
}

.latest-release {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-left: 30px;
}
.latest-release-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.latest-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 40%;
  margin-right: 10px;
}

.left {
  display: flex;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.dot img {
  width: 20px;
  height: 20px;
}

.log-image {
  background-image: url(./assets/img/artist/img2.jpg);
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-right: 10px;
  border-radius: 15px;
}

.popular-artist-title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 10px;
}

.popular-artist-container {
  display: flex;
  margin: 10px;
  width: 70%;
}

.singer-name {
  color: white;
  text-align: center;
  padding-left: 0px;
}

.singer-container {
  position: relative;
}
.singer-1 {
  background-image: url(./assets/img/artist-face/img-1.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 50%;
}

.play {
  position: relative;
  display: none;
  background-color: rgb(208, 216, 216);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.play img {
  z-index: -1;
  position: absolute;
  opacity: 1;
  top: 21%;
  left: 21%;
}
.singer-1:hover .play {
  display: block;
  opacity: 0.5;
}

/* .singer-1:hover + .play { */
/* filter: blur(5px); */
/* display: block;
  background-color: aliceblue;
  border-radius: 50%;
  opacity: 0.5;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 5%;
  top: -5%;
} */
/* 
.singer-1:hover {
  filter: blur(0.5px);
  /* box-shadow: 1px; */
/* display: block; */
/* opacity: 1; */
/* opacity: 0.9; */
/* } */
/* .play {
  position: absolute;
  top: 10%; */
/* display: none; */
/* width: 100%;
  height: 100%;
  margin: 0 auto;
  left: 20%; */
/* right: 0px; */
/* z-index: 100;
  opacity: 0;
} */
/* display: block; */

.singer-2 {
  background-image: url(./assets/img/artist-face/img-2.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.singer-2:hover .play {
  display: block;
  opacity: 0.5;
}

.singer-3 {
  background-image: url(./assets/img/artist-face/img-3.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.singer-3:hover .play {
  display: block;
  opacity: 0.5;
}

.singer-4 {
  background-image: url(./assets/img/artist-face/img-4.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.singer-4:hover .play {
  display: block;
  opacity: 0.5;
}

.singer-5 {
  background-image: url(./assets/img/artist-face/img-5.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.singer-5:hover .play {
  display: block;
  opacity: 0.5;
}

.singer-6 {
  background-image: url(./assets/img/artist-face/img-6.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-6:hover .play {
  display: block;
  opacity: 0.5;
}
.singer-7 {
  background-image: url(./assets/img/artist-face/img-8.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.singer-7:hover .play {
  display: block;
  opacity: 0.5;
}

.type-container {
  background-color: rgb(7, 7, 53);
  display: flex;
  flex-wrap: wrap;
  padding: 25px 10px;
  margin-left: 10px;
  width: 90%;
  margin-top: 20px;
}

.radio-icon img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.song-card {
  width: 70px;
  height: 70px;
  background-color: rgb(208, 216, 216);
}

.love {
  position: relative;
  color: white;
  font-weight: bold;
  text-align: center;
  top: 40%;
}
.song-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 14vh;
}
.Queue-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 30px;
  margin-left: 30px;
}
.title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.queue-button {
  display: flex;
  color: rgb(151, 151, 214);
}

.queue-button img {
  width: 40px;
  height: 40px;
}

.song-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.song-list-card {
  display: flex;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 60%;
  justify-content: space-between;
}

.left-container {
  display: flex;
  padding-right: 20px;
  align-items: center;
}

.number {
  color: rgb(216, 209, 209);
  margin-right: 20px;
}
.song-name-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.song-name {
  color: rgb(218, 219, 219);
}

.singer-fname {
  position: relative;
  color: grey;
}

.song-logo {
  background-image: url(./assets/img/artist/img1.jpg);
  background-size: cover;
  width: 40px;
  height: 40px;
  box-shadow: rgb(202, 200, 200) 0px 0px 7px 1px;
}

.favourite-icon img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
