body {
  background-color: rgb(31, 31, 49);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.right-side-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-image img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

span {
  color: rgb(233, 230, 230);
  display: block;
  margin-left: 5px;
  margin-top: -5px;
}

.favourites p {
  margin: 10px 30px;
  color: rgb(233, 230, 230);
}

.left-side-wrapper {
  display: flex;
  /* justify-content: space-evenly; */
}

.search-box-container {
  display: flex;
  background-color: rgb(7, 7, 53);
  flex-direction: row;
  width: 200px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.search-icon img {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}

.search-text {
  color: rgb(185, 181, 181);
  margin-left: -40%;
}
.mic img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.notification img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  align-content: center;
  margin-top: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.music-box {
  display: flex;
}

.music-main {
  display: flex;
  width: 70%;
  margin-left: 20px;
  flex-direction: column;
}

.artist-container {
  display: flex;
  margin: 20px;
}
.artist-1 {
  background-image: url(/assets/img/artist/img1.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.artist-2 {
  background-image: url(/assets/img/artist/img4.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.artist-3 {
  background-image: url(/assets/img/artist/img3.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.artist-4 {
  background-image: url(/assets/img/artist/img6.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.latest-title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 10px;
}

.latest-release {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-left: 30px;
}
.latest-release-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.latest-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 40%;
  margin-right: 10px;
}

.left {
  display: flex;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.dot img {
  width: 20px;
  height: 20px;
}

.log-image {
  background-image: url(/assets/img/artist/img2.jpg);
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-right: 10px;
}

.popular-artist-title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 10px;
}

.Queue-container {
  position: sticky;
}
.popular-artist-container {
  display: flex;
  margin: 10px;
}

.singer-name {
  color: white;
  padding-left: 20px;
  /* text-align: center; */
}

.singer-1 {
  background-image: url(/assets/img/artist-face/img-1.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-2 {
  background-image: url(/assets/img/artist-face/img-2.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-3 {
  background-image: url(/assets/img/artist-face/img-3.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-4 {
  background-image: url(/assets/img/artist-face/img-4.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-5 {
  background-image: url(/assets/img/artist-face/img-5.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-6 {
  background-image: url(/assets/img/artist-face/img-6.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
.singer-7 {
  background-image: url(/assets/img/artist-face/img-8.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}
